@import '../../assets/css/util/breakpoints.scss';

.panel {
  justify-content: flex-end;
  align-items: first baseline;
  margin: 18px;

  @include breakpoint(sm) {
    display: flex;
  }

  h4 {
    margin-right: 12px;
  }

  div {
    margin-right: 6px;
  }
}
