.house-list {
  .ant-table-body {
    table {
      display: flex;
      flex-direction: row;

      thead {
        width: 30%;
        flex-basis: 30%;
        word-wrap: break-word;

        tr {
          display: flex;
          flex-direction: column;
          min-width: 106px;
        }
      }

      tbody {
        display: flex;
        overflow: auto;

        tr {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-width: 100%;

          td {
            max-height: 54px;
          }
        }
      }
    }
  }
}
