.house-list {
  .ant-table-body {
    &.normal {
      table {
        display: flex;
        flex-direction: row;
  
        thead {
          width: 30%;
          flex-basis: 30%;
          word-wrap: break-word;
  
          tr {
            display: flex;
            flex-direction: column;
            min-width: 106px;
          }
        }
  
        tbody {
          display: flex;
          overflow: auto;
  
          tr {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 100%;
  
            td {
              max-height: 54px;
            }
          }
        }
      }
    }

    &.version2 {
      table {
        display: flex;
        flex-direction: row;

        thead {
          display: none;
        }
  
        tbody {
          display: flex;
          overflow: auto;
          flex-direction: column;
          flex-basis: 100%;
  
          tr {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 100%;
            margin: 12px 0;
            border-radius: 4px;

            &:nth-of-type(odd) {
              background-color: #c5e6f6;
            }
  
            td {
              max-height: 54px;
            }
          }
        }
      }
    }
  }
}
